<div class="item">
<div class="col-md-12 col-sm-12 col-xs-12">
<div class="arrival-image">
<div class="arrival-image-overlay">
<figure>
<span class="overlay-two"></span>
<img src="assets/images/arrival/arrival1.jpg" alt="">
<figcaption>
<p><span class="new-sale">new</span></p>
<ul class="cart-icon">
<li><a href="#"><span class="add-to-wish">add to wishlist</span><i class="fa fa-heart" aria-hidden="true"></i></a></li>
<li><a href="" data-toggle="modal" data-target="#myModal"><span class="add-to-wish">quick view</span><i class="fa fa-eye" aria-hidden="true"></i></a></li>
<li><a href="#"><span class="add-to-wish">buy now</span><i class="fa fa-shopping-bag" aria-hidden="true"></i></a></li>
<li><a href="#"><span class="add-to-wish">quick link</span><i class="fa fa-link" aria-hidden="true"></i></a></li>
</ul>
</figcaption>
</figure>
</div>
<div class="arrival-image-content">
<h4><a href="/product-detail">Cras in nunc non ipsum duo</a></h4>
<ul class="cloth-rating">
<li><i class="fa fa-star" aria-hidden="true"></i></li>
<li><i class="fa fa-star" aria-hidden="true"></i></li>
<li><i class="fa fa-star" aria-hidden="true"></i></li>
<li><i class="fa fa-star" aria-hidden="true"></i></li>
<li><i class="fa fa-star-half-o" aria-hidden="true"></i></li>
</ul>
<span>$90.00<del>$55.00</del></span>
</div>
</div>
</div>
</div>