<header>
<div class="main-hrader">
<div class="container">
<div class="row">
<div class="top-bar padTB20">
<div class="col-md-3 col-sm-3 col-xs-12">
<div class="top-bar-register padTB10">
<h6><a href="#">sign in<span></span> register</a></h6>
</div>
</div>
<div class="col-md-6 col-sm-6 col-xs-12">
<figure class="logo">
<a href="index.html"><img src="assets/images/logo.png" alt=""></a>
</figure>
</div>
<div class="col-md-3 col-sm-3 col-xs-12">
<div class="usd">
<select name="usd">
<option value="USD">USD</option>
<option value="INR">INR</option>
<option value="CAD">CAD</option>
<option value="USD">USD</option>
<option value="AUD">AUD</option>
<option value="EUR">EUR</option>
<option value="JPY">JPY</option>
</select>
<select name="language">
<option value="eng">English</option>
<option value="french">French</option>
</select>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="header_menu">
<div id="main-menu" class="wa-main-menu">
<!-- Menu -->
<div class="wathemes-menu relative">
<!-- navbar -->
<div class="navbar navbar-default theme-bg mar0" role="navigation">
<div class="container">
<div class="row">
<div class="col-md-10 col-sm-10 col-xs-12">
<div class="row">
<div class="navbar-header">
<!-- Button For Responsive toggle -->
<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
<span class="sr-only">Toggle navigation</span> 
<span class="icon-bar"></span> 
<span class="icon-bar"></span> 
<span class="icon-bar"></span>
</button> 
</div>
<!-- Navbar Collapse -->
<div class="navbar-collapse collapse">
<div class="col-md-12 col-sm-12 col-xs-12">
<!-- nav -->
<ul class="nav navbar-nav">
<li>
<a href="#" class="header-menu-one">home<i class="fa fa-caret-down marL5" aria-hidden="true"></i></a>
<!--<ul class="dropdown-menu">
<li><a href="index.html" >home page -(default)</a></li>
<!--<li><a href="index-2.html">home page - 2</a></li> -->
<!--<li><a href="index-3.html">home page - 3</a></li> -->
<!--<li><a href="index-4.html">home page - 4</a></li> -->
<!--<li><a href="index-5.html">home page - 5</a></li> -->
<!--</ul> -->
</li>
<li class="mega-menu">
<a href="#" class="header-menu-one" data-toggle="dropdown">womens<i class="fa fa-caret-down marL5" aria-hidden="true"></i></a>
<ul class="dropdown-menu sm-nowrap">
<li>
<div class="row">
<div class="col-md-7 col-sm-7 col-xs-12">
<div class="col-sm-4 col-xs-12">
<div class="title">
<h4>tops</h4>
<div class="page-links">
<div>
<a href="#"> Jackets</a>
</div>
<div>
<a href="#"> Sweaters</a>
</div>
<div>
<a href="#">Tees</a>
</div>
<div>
<a href="#"> Bras & Tanks</a>
</div>
</div>
</div>
</div>
</div>
<div class="col-md-5 col-sm-5 col-xs-12">
<div class="col-md-12 col-sm-12 col-xs-12 marB30">
<figure class="menu-image zoom-effect">
<img src="assets/images/all-image/menu-image-one.jpg" alt="">
<figcaption>
<div class="menu-image-text">
<h3>shop the bags</h3>
<a href="#" class="template-button">shop now</a>
</div>
</figcaption>
</figure>
</div>
</div>
</div>
</li>
</ul>
</li>
<!-- /.dropdown -->
<li class="mega-menu hidden-xs">
<a href="#" class="header-menu-one" data-toggle="dropdown">accessories<i class="fa fa-caret-down marL5" aria-hidden="true"></i></a> 
<ul class="dropdown-menu sm-nowrap">
<li>
<div class="row">
<div class="col-md-12">
<div class="menu-box">
<div class="menu-title">
<h4>bags</h4>
</div>
<div class="slider-two">
<div class="row">
<div id="menu_slider" class="owl-carousel owl-theme">
<div class="item">
<div class="col-md-12 col-sm-12 col-xs-12">
<div class="arrival-image">
<div class="arrival-image-overlay">
<figure>
<span class="overlay-two"></span>
<img src="assets/images/arrival/arrival1.jpg" alt="">
<figcaption>
<p><span class="new-sale">new</span></p>
<ul class="cart-icon">
<li><a href="#"><span class="add-to-wish">add to wishlist</span><i class="fa fa-heart" aria-hidden="true"></i></a></li>
<li><a href="" data-toggle="modal" data-target="#myModal"><span class="add-to-wish">quick view</span><i class="fa fa-eye" aria-hidden="true"></i></a></li>
<li><a href="#"><span class="add-to-wish">buy now</span><i class="fa fa-shopping-bag" aria-hidden="true"></i></a></li>
<li><a href="#"><span class="add-to-wish">quick link</span><i class="fa fa-link" aria-hidden="true"></i></a></li>
</ul>
</figcaption>
</figure>
</div>
<div class="arrival-image-content">
<h4><a href="product-detail.html">Cras in nunc non ipsum duo</a></h4>
<ul class="cloth-rating">
<li><i class="fa fa-star" aria-hidden="true"></i></li>
<li><i class="fa fa-star" aria-hidden="true"></i></li>
<li><i class="fa fa-star" aria-hidden="true"></i></li>
<li><i class="fa fa-star" aria-hidden="true"></i></li>
<li><i class="fa fa-star-half-o" aria-hidden="true"></i></li>
</ul>
<span>$90.00<del>$55.00</del></span>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
<!-- One Page variation 2 -->
</div>
<!-- Ends Home Mage Menu Block -->
</li>
</ul>
</li>
<!-- /.dropdown -->
<li class="accessories-box hidden-lg hidden-md hidden-sm">
<a href="#" class="header-menu-one">accessories<i class="fa fa-caret-down marL5" aria-hidden="true"></i></a>
<ul class="dropdown-menu">
<li><a href="collection-sidebar.html">bags</a></li>
<li><a href="collection-sidebar.html">jeans</a></li>
<li><a href="collection-sidebar.html">men</a></li>
<li><a href="collection-sidebar.html">shoes</a></li>
<li><a href="collection-sidebar.html">women</a></li>
<li><a href="collection-sidebar.html">sale</a></li>
</ul>
</li>
<li>
<a href="#" class="header-menu-one">shop<i class="fa fa-caret-down marL5" aria-hidden="true"></i></a>
<ul class="dropdown-menu">
<li><a href="collection-product.html" >collection full</a></li>
<li><a href="collection-sidebar.html">collection sidebar</a></li>
<li><a href="product-detail.html">product detail</a></li>
<li class="right-side">
<a href="#" class="hidden-xs">continue shopping<i class="fa fa-caret-right hidden-xs text-right" aria-hidden="true"></i></a>
<a href="#" class="hidden-sm hidden-lg hidden-md">continue shopping<i class="fa fa-caret-down" aria-hidden="true"></i></a>
<ul class="dropdown-menu">
<li><a href="cart.html">cart</a></li>
<li><a href="checkout.html" class="header-menu-one">checkout</a></li>
<li><a href="order.html">order</a></li>
</ul>
</li>
</ul>
</li>
<li>
<a href="#" class="header-menu-one">blog<i class="fa fa-caret-down marL5" aria-hidden="true"></i></a> 
<ul class="dropdown-menu">
<li><a href="blog-style-1.html">Blogs Style 1</a></li>
<li><a href="blog-style-2.html">Blogs Style 2</a></li>
<li><a href="blog-style-3.html">Blogs Style 3</a></li>
<li><a href="blog-style-4.html">Blogs Style 4</a></li>
<li><a href="blog-style-5.html">Blogs Style 5</a></li>
<li><a href="blog-style-6.html">Blogs Style6</a></li>
<li class="right-side">
<a href="#" class="hidden-xs">Single Blog <i class="fa fa-caret-right hidden-xs text-right" aria-hidden="true"></i></a>
<a href="#" class="hidden-sm hidden-lg hidden-md">Single Blog <i class="fa fa-caret-down" aria-hidden="true"></i></a>
<ul class="dropdown-menu">
<li><a href="blog-single-sidebar.html">With Sidebar</a></li>
<li><a href="blog-single-full-width.html">Without Sidebar</a></li>
</ul>
</li>
</ul>
</li>
<li>
<a href="#" class="header-menu-one">pages<i class="fa fa-caret-down marL5" aria-hidden="true"></i></a>
<ul class="dropdown-menu">
<li><a href="collection.html" class="header-menu-one">collection</a></li>
<li><a href="lookbook.html" class="header-menu-one">lookbook</a></li>
<li><a href="faq.html" class="header-menu-one">faqs</a></li>
<li><a href="error-page.html" class="header-menu-one">error</a></li>
<li><a href="about-us.html" class="header-menu-one">about us</a></li>
<li class="right-side">
<a href="#" class="hidden-xs">account <i class="fa fa-caret-right hidden-xs" aria-hidden="true"></i></a>
<a href="#" class="hidden-sm hidden-lg hidden-md">account<i class="fa fa-caret-down" aria-hidden="true"></i></a>
<ul class="dropdown-menu">
<li><a href="login.html">login</a></li>
<li><a href="register.html">register</a></li>
</ul>
</li>
<li><a href="comming-soon.html" class="header-menu-one">comming soon</a></li>
</ul>
</li>
<li><a href="contact.html" class="header-menu-one">contact</a></li>
</ul>
</div>
</div>
</div>
<!-- navbar-collapse -->
</div>
<!-- col-md-10 -->
<div class="col-md-2 col-sm-2 col-xs-6 shopping-cart-section">
<div class="shopping-cart-icon">
<ul>
<li><a href="#" class="search-click"><i class="fa fa-search" aria-hidden="true"></i></a></li>
<li><a href="#"><i class="fa fa-heart" aria-hidden="true"></i></a></li>
<li><a href="#"><i class="fa fa-shopping-bag" aria-hidden="true"></i></a></li>
</ul>
</div>
</div>
</div>
<!-- row -->
</div>
<!-- container -->
</div>
<!--navbar -->
<div id="search-open" class="top-search">
<div class="container-fluid">
<div class="row">
<div class="input-group"> <span class="input-group-addon"><i class="fa fa-search"></i></span>
<input type="text" class="form-control" placeholder="Search">
<a class="input-group-addon close-search search-close"><i class="fa fa-times"></i></a> 
</div>
</div>
</div>
</div>
</div>
<!--  Menu -->
</div>
</div>
</header>