<!--//================Slider section start==============//-->
<div class="slider-section">
<div id="slider_one" class="owl-carousel owl-theme">
<div class="item">
<div class="slider-box">
<figure>
<img src="../images/rg.jpg" alt="">
</figure>
<div class="slider-text">
<div class="container">
<div class="row">
<div class="col-md-12 col-sm-12 col-xs-12">
<div class="slider-content slider-right item-1">
<h4>collection</h4>
<h1>new look fashion</h1>
<a href="#" class="template-button">shop now</a>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="item">
<div class="slider-box">
<figure>
<img src="../images/thrift.jpg" alt="">
</figure>
<div class="slider-text">
<div class="container">
<div class="row">
<div class="col-md-12 col-sm-12 col-xs-12">
<div class="slider-content item-2">
<h4>collection</h4>
<h1>new look fashion</h1>
<a href="#" class="template-button">shop now</a>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="item">
<div class="slider-box">
<figure>
<img src="../images/rg.jpg" alt="">
</figure>
<div class="slider-text">
<div class="container">
<div class="row">
<div class="col-md-12 col-sm-12 col-xs-12">
<div class="slider-content item-3">
<h4>collection</h4>
<h1>new look fashion</h1>
<a href="#" class="template-button">shop now</a>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="item">
<div class="slider-box">
<figure>
<img src="../images/rg.jpg" alt="">
</figure>
<div class="slider-text">
<div class="container">
<div class="row">
<div class="col-md-12 col-sm-12 col-xs-12">
<div class="slider-content slider-right item-1">
<h4>collection</h4>
<h1>new look fashion</h1>
<a href="#" class="template-button">shop now</a>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
<!--//================Slider section end==============//-->

<!--//================Best product section start==============//-->
<div class="best_product padTB60">
<div class="container">
<div class="row">
<div class="col-md-5 col-sm-5 col-xs-12">
<div class="journey-heading">
<h4><span>best product</span></h4>
</div>
</div>
<div class="col-md-7 col-sm-7 col-xs-12">
<div class="product_menu">
<ul>
<li><a class="filter-1 wa-button hover-color active" data-filter="all">all</a></li>
<li><a class="filter-1 wa-button hover-color" data-filter=".cat1">women</a></li>
<li><a class="filter-1 wa-button hover-color" data-filter=".cat2">men</a></li>
<li><a class="filter-1 wa-button hover-color" data-filter=".cat3">shoes</a></li>
</ul>
</div>
</div>
<div class="col-md-12 col-sm-12 col-xs-12 padT30">
<div class="row">
<div id="MixItUp1">
<div class="col-md-3 col-sm-6 col-xs-12 marB30 mix cat1">
<div class="arrival-image">
<div class="arrival-image-overlay">
<figure>
<span class="overlay-two"></span>
<img src="../images/thrift.jpg" alt="">
<figcaption>
<ul class="cart-icon">
<li><a href="#"><span class="add-to-wish">add to wishlist</span><i class="fa fa-heart" aria-hidden="true"></i></a></li>
<li><a href="" data-toggle="modal" data-target="#myModal"><span class="add-to-wish">quick view</span><i class="fa fa-eye" aria-hidden="true"></i></a></li>
<li><a href="#"><span class="add-to-wish">buy now</span><i class="fa fa-shopping-bag" aria-hidden="true"></i></a></li>
<li><a href="#"><span class="add-to-wish">quick link</span><i class="fa fa-link" aria-hidden="true"></i></a></li>
</ul>
</figcaption>
</figure>
</div>
<div class="arrival-image-content">
<h4><a href="product-detail.html">Cras in nunc non ipsum duo</a></h4>
<ul class="cloth-rating">
<li><i class="fa fa-star" aria-hidden="true"></i></li>
<li><i class="fa fa-star" aria-hidden="true"></i></li>
<li><i class="fa fa-star" aria-hidden="true"></i></li>
<li><i class="fa fa-star" aria-hidden="true"></i></li>
<li><i class="fa fa-star-half-o" aria-hidden="true"></i></li>
</ul>
<span>$90.00<del>$55.00</del></span>
</div>
</div>
</div>
<div class="col-md-3 col-sm-6 col-xs-12 marB30 mix cat1">
<div class="arrival-image">
<div class="arrival-image-overlay">
<figure>
<span class="overlay-two"></span>
<img src="../images/thrift.jpg" alt="">
<figcaption>
<p><span class="new-sale">new</span></p>
<ul class="cart-icon">
<li><a href="#"><span class="add-to-wish">add to wishlist</span><i class="fa fa-heart" aria-hidden="true"></i></a></li>
<li><a href="" data-toggle="modal" data-target="#myModal"><span class="add-to-wish">quick view</span><i class="fa fa-eye" aria-hidden="true"></i></a></li>
<li><a href="#"><span class="add-to-wish">buy now</span><i class="fa fa-shopping-bag" aria-hidden="true"></i></a></li>
<li><a href="#"><span class="add-to-wish">quick link</span><i class="fa fa-link" aria-hidden="true"></i></a></li>
</ul>
</figcaption>
</figure>
</div>
<div class="arrival-image-content">
<h4><a href="product-detail.html">Cras in nunc non ipsum duo</a></h4>
<ul class="cloth-rating">
<li><i class="fa fa-star" aria-hidden="true"></i></li>
<li><i class="fa fa-star" aria-hidden="true"></i></li>
<li><i class="fa fa-star" aria-hidden="true"></i></li>
<li><i class="fa fa-star" aria-hidden="true"></i></li>
<li><i class="fa fa-star-half-o" aria-hidden="true"></i></li>
</ul>
<span>$90.00<del>$55.00</del></span>
</div>
</div>
</div>
<div class="col-md-3 col-sm-6 col-xs-12 marB30 mix cat1">
<div class="arrival-image">
<div class="arrival-image-overlay best-product">
<figure>
<span class="overlay-two"></span>
<img src="../images/thrift.jpg" alt="">
<figcaption>
<p><span class="sale-product">sale</span></p>
<ul class="cart-icon">
<li><a href="#"><span class="add-to-wish">add to wishlist</span><i class="fa fa-heart" aria-hidden="true"></i></a></li>
<li><a href="" data-toggle="modal" data-target="#myModal"><span class="add-to-wish">quick view</span><i class="fa fa-eye" aria-hidden="true"></i></a></li>
<li><a href="#"><span class="add-to-wish">buy now</span><i class="fa fa-shopping-bag" aria-hidden="true"></i></a></li>
<li><a href="#"><span class="add-to-wish">quick link</span><i class="fa fa-link" aria-hidden="true"></i></a></li>
</ul>
</figcaption>
</figure>
</div>
<div class="arrival-image-content">
<h4><a href="product-detail.html">Cras in nunc non ipsum duo</a></h4>
<ul class="cloth-rating">
<li><i class="fa fa-star" aria-hidden="true"></i></li>
<li><i class="fa fa-star" aria-hidden="true"></i></li>
<li><i class="fa fa-star" aria-hidden="true"></i></li>
<li><i class="fa fa-star" aria-hidden="true"></i></li>
<li><i class="fa fa-star-half-o" aria-hidden="true"></i></li>
</ul>
<span>$90.00<del>$55.00</del></span>
</div>
</div>
</div>
<div class="col-md-3 col-sm-6 col-xs-12 marB30 mix cat1">
<div class="arrival-image">
<div class="arrival-image-overlay">
<figure>
<span class="overlay-two"></span>
<img src="../images/thrift.jpg" alt="">
<figcaption>
<ul class="cart-icon">
<li><a href="#"><span class="add-to-wish">add to wishlist</span><i class="fa fa-heart" aria-hidden="true"></i></a></li>
<li><a href="" data-toggle="modal" data-target="#myModal"><span class="add-to-wish">quick view</span><i class="fa fa-eye" aria-hidden="true"></i></a></li>
<li><a href="#"><span class="add-to-wish">buy now</span><i class="fa fa-shopping-bag" aria-hidden="true"></i></a></li>
<li><a href="#"><span class="add-to-wish">quick link</span><i class="fa fa-link" aria-hidden="true"></i></a></li>
</ul>
</figcaption>
</figure>
</div>
<div class="arrival-image-content">
<h4><a href="product-detail.html">Cras in nunc non ipsum duo</a></h4>
<ul class="cloth-rating">
<li><i class="fa fa-star" aria-hidden="true"></i></li>
<li><i class="fa fa-star" aria-hidden="true"></i></li>
<li><i class="fa fa-star" aria-hidden="true"></i></li>
<li><i class="fa fa-star" aria-hidden="true"></i></li>
<li><i class="fa fa-star-half-o" aria-hidden="true"></i></li>
</ul>
<span>$90.00<del>$55.00</del></span>
</div>
</div>
</div>
<div class="col-md-3 col-sm-6 col-xs-12 marB30 mix cat2">
<div class="arrival-image">
<div class="arrival-image-overlay">
<figure>
<span class="overlay-two"></span>
<img src="../images/thrift.jpg" alt="">
<figcaption>
<p><span class="new-sale">new</span></p>
<ul class="cart-icon">
<li><a href="#"><span class="add-to-wish">add to wishlist</span><i class="fa fa-heart" aria-hidden="true"></i></a></li>
<li><a href="" data-toggle="modal" data-target="#myModal"><span class="add-to-wish">quick view</span><i class="fa fa-eye" aria-hidden="true"></i></a></li>
<li><a href="#"><span class="add-to-wish">buy now</span><i class="fa fa-shopping-bag" aria-hidden="true"></i></a></li>
<li><a href="#"><span class="add-to-wish">quick link</span><i class="fa fa-link" aria-hidden="true"></i></a></li>
</ul>
</figcaption>
</figure>
</div>
<div class="arrival-image-content">
<h4><a href="product-detail.html">Cras in nunc non ipsum duo</a></h4>
<ul class="cloth-rating">
<li><i class="fa fa-star" aria-hidden="true"></i></li>
<li><i class="fa fa-star" aria-hidden="true"></i></li>
<li><i class="fa fa-star" aria-hidden="true"></i></li>
<li><i class="fa fa-star" aria-hidden="true"></i></li>
<li><i class="fa fa-star-half-o" aria-hidden="true"></i></li>
</ul>
<span>$90.00<del>$55.00</del></span>
</div>
</div>
</div>
<div class="col-md-3 col-sm-6 col-xs-12 marB30 mix cat2">
<div class="arrival-image">
<div class="arrival-image-overlay">
<figure>
<span class="overlay-two"></span>
<img src="../images/thrift.jpg" alt="">
<figcaption>
<ul class="cart-icon">
<li><a href="#"><span class="add-to-wish">add to wishlist</span><i class="fa fa-heart" aria-hidden="true"></i></a></li>
<li><a href="" data-toggle="modal" data-target="#myModal"><span class="add-to-wish">quick view</span><i class="fa fa-eye" aria-hidden="true"></i></a></li>
<li><a href="#"><span class="add-to-wish">buy now</span><i class="fa fa-shopping-bag" aria-hidden="true"></i></a></li>
<li><a href="#"><span class="add-to-wish">quick link</span><i class="fa fa-link" aria-hidden="true"></i></a></li>
</ul>
</figcaption>
</figure>
</div>
<div class="arrival-image-content">
<h4><a href="product-detail.html">Cras in nunc non ipsum duo</a></h4>
<ul class="cloth-rating">
<li><i class="fa fa-star" aria-hidden="true"></i></li>
<li><i class="fa fa-star" aria-hidden="true"></i></li>
<li><i class="fa fa-star" aria-hidden="true"></i></li>
<li><i class="fa fa-star" aria-hidden="true"></i></li>
<li><i class="fa fa-star-half-o" aria-hidden="true"></i></li>
</ul>
<span>$90.00<del>$55.00</del></span>
</div>
</div>
</div>
<div class="col-md-3 col-sm-6 col-xs-12 marB30 mix cat2">
<div class="arrival-image">
<div class="arrival-image-overlay">
<figure>
<span class="overlay-two"></span>
<img src="../images/thrift.jpg" alt="">
<figcaption>
<ul class="cart-icon">
<li><a href="#"><span class="add-to-wish">add to wishlist</span><i class="fa fa-heart" aria-hidden="true"></i></a></li>
<li><a href="" data-toggle="modal" data-target="#myModal"><span class="add-to-wish">quick view</span><i class="fa fa-eye" aria-hidden="true"></i></a></li>
<li><a href="#"><span class="add-to-wish">buy now</span><i class="fa fa-shopping-bag" aria-hidden="true"></i></a></li>
<li><a href="#"><span class="add-to-wish">quick link</span><i class="fa fa-link" aria-hidden="true"></i></a></li>
</ul>
</figcaption>
</figure>
</div>
<div class="arrival-image-content">
<h4><a href="product-detail.html">Cras in nunc non ipsum duo</a></h4>
<ul class="cloth-rating">
<li><i class="fa fa-star" aria-hidden="true"></i></li>
<li><i class="fa fa-star" aria-hidden="true"></i></li>
<li><i class="fa fa-star" aria-hidden="true"></i></li>
<li><i class="fa fa-star" aria-hidden="true"></i></li>
<li><i class="fa fa-star-half-o" aria-hidden="true"></i></li>
</ul>
<span>$90.00<del>$55.00</del></span>
</div>
</div>
</div>
<div class="col-md-3 col-sm-6 col-xs-12 marB30 mix cat2">
<div class="arrival-image">
<div class="arrival-image-overlay best-product">
<figure>
<span class="overlay-two"></span>
<img src="../images/thrift.jpg" alt="">
<figcaption>
<p><span class="sale-product">sale</span></p>
<ul class="cart-icon">
<li><a href="#"><span class="add-to-wish">add to wishlist</span><i class="fa fa-heart" aria-hidden="true"></i></a></li>
<li><a href="" data-toggle="modal" data-target="#myModal"><span class="add-to-wish">quick view</span><i class="fa fa-eye" aria-hidden="true"></i></a></li>
<li><a href="#"><span class="add-to-wish">buy now</span><i class="fa fa-shopping-bag" aria-hidden="true"></i></a></li>
<li><a href="#"><span class="add-to-wish">quick link</span><i class="fa fa-link" aria-hidden="true"></i></a></li>
</ul>
</figcaption>
</figure>
</div>
<div class="arrival-image-content">
<h4><a href="product-detail.html">Cras in nunc non ipsum duo</a></h4>
<ul class="cloth-rating">
<li><i class="fa fa-star" aria-hidden="true"></i></li>
<li><i class="fa fa-star" aria-hidden="true"></i></li>
<li><i class="fa fa-star" aria-hidden="true"></i></li>
<li><i class="fa fa-star" aria-hidden="true"></i></li>
<li><i class="fa fa-star-half-o" aria-hidden="true"></i></li>
</ul>
<span>$90.00<del>$55.00</del></span>
</div>
</div>
</div>
<div class="col-md-3 col-sm-6 col-xs-12 marB30 mix cat3">
<div class="arrival-image">
<div class="arrival-image-overlay">
<figure>
<span class="overlay-two"></span>
<img src="../images/thrift.jpg" alt="">
<figcaption>
<ul class="cart-icon">
<li><a href="#"><span class="add-to-wish">add to wishlist</span><i class="fa fa-heart" aria-hidden="true"></i></a></li>
<li><a href="" data-toggle="modal" data-target="#myModal"><span class="add-to-wish">quick view</span><i class="fa fa-eye" aria-hidden="true"></i></a></li>
<li><a href="#"><span class="add-to-wish">buy now</span><i class="fa fa-shopping-bag" aria-hidden="true"></i></a></li>
<li><a href="#"><span class="add-to-wish">quick link</span><i class="fa fa-link" aria-hidden="true"></i></a></li>
</ul>
</figcaption>
</figure>
</div>
<div class="arrival-image-content">
<h4><a href="product-detail.html">Cras in nunc non ipsum duo</a></h4>
<ul class="cloth-rating">
<li><i class="fa fa-star" aria-hidden="true"></i></li>
<li><i class="fa fa-star" aria-hidden="true"></i></li>
<li><i class="fa fa-star" aria-hidden="true"></i></li>
<li><i class="fa fa-star" aria-hidden="true"></i></li>
<li><i class="fa fa-star-half-o" aria-hidden="true"></i></li>
</ul>
<span>$90.00<del>$55.00</del></span>
</div>
</div>
</div>
<div class="col-md-3 col-sm-6 col-xs-12 marB30 mix cat3">
<div class="arrival-image">
<div class="arrival-image-overlay">
<figure>
<span class="overlay-two"></span>
<img src="../images/thrift.jpg" alt="">
<figcaption>
<p><span class="new-sale">new</span></p>
<ul class="cart-icon">
<li><a href="#"><span class="add-to-wish">add to wishlist</span><i class="fa fa-heart" aria-hidden="true"></i></a></li>
<li><a href="" data-toggle="modal" data-target="#myModal"><span class="add-to-wish">quick view</span><i class="fa fa-eye" aria-hidden="true"></i></a></li>
<li><a href="#"><span class="add-to-wish">buy now</span><i class="fa fa-shopping-bag" aria-hidden="true"></i></a></li>
<li><a href="#"><span class="add-to-wish">quick link</span><i class="fa fa-link" aria-hidden="true"></i></a></li>
</ul>
</figcaption>
</figure>
</div>
<div class="arrival-image-content">
<h4><a href="product-detail.html">Cras in nunc non ipsum duo</a></h4>
<ul class="cloth-rating">
<li><i class="fa fa-star" aria-hidden="true"></i></li>
<li><i class="fa fa-star" aria-hidden="true"></i></li>
<li><i class="fa fa-star" aria-hidden="true"></i></li>
<li><i class="fa fa-star" aria-hidden="true"></i></li>
<li><i class="fa fa-star-half-o" aria-hidden="true"></i></li>
</ul>
<span>$90.00<del>$55.00</del></span>
</div>
</div>
</div>
<div class="col-md-3 col-sm-6 col-xs-12 marB30 mix cat3">
<div class="arrival-image">
<div class="arrival-image-overlay best-product">
<figure>
<span class="overlay-two"></span>
<img src="../images/thrift.jpg" alt="">
<figcaption>
<p><span class="sale-product">sale</span></p>
<ul class="cart-icon">
<li><a href="#"><span class="add-to-wish">add to wishlist</span><i class="fa fa-heart" aria-hidden="true"></i></a></li>
<li><a href="" data-toggle="modal" data-target="#myModal"><span class="add-to-wish">quick view</span><i class="fa fa-eye" aria-hidden="true"></i></a></li>
<li><a href="#"><span class="add-to-wish">buy now</span><i class="fa fa-shopping-bag" aria-hidden="true"></i></a></li>
<li><a href="#"><span class="add-to-wish">quick link</span><i class="fa fa-link" aria-hidden="true"></i></a></li>
</ul>
</figcaption>
</figure>
</div>
<div class="arrival-image-content">
<h4><a href="product-detail.html">Cras in nunc non ipsum duo</a></h4>
<ul class="cloth-rating">
<li><i class="fa fa-star" aria-hidden="true"></i></li>
<li><i class="fa fa-star" aria-hidden="true"></i></li>
<li><i class="fa fa-star" aria-hidden="true"></i></li>
<li><i class="fa fa-star" aria-hidden="true"></i></li>
<li><i class="fa fa-star-half-o" aria-hidden="true"></i></li>
</ul>
<span>$90.00<del>$55.00</del></span>
</div>
</div>
</div>
<div class="col-md-3 col-sm-6 col-xs-12 marB30 mix cat3">
<div class="arrival-image">
<div class="arrival-image-overlay">
<figure>
<span class="overlay-two"></span>
<img src="../images/thrift.jpg" alt="">
<figcaption>
<ul class="cart-icon">
<li><a href="#"><span class="add-to-wish">add to wishlist</span><i class="fa fa-heart" aria-hidden="true"></i></a></li>
<li><a href="" data-toggle="modal" data-target="#myModal"><span class="add-to-wish">quick view</span><i class="fa fa-eye" aria-hidden="true"></i></a></li>
<li><a href="#"><span class="add-to-wish">buy now</span><i class="fa fa-shopping-bag" aria-hidden="true"></i></a></li>
<li><a href="#"><span class="add-to-wish">quick link</span><i class="fa fa-link" aria-hidden="true"></i></a></li>
</ul>
</figcaption>
</figure>
</div>
<div class="arrival-image-content">
<h4><a href="product-detail.html">Cras in nunc non ipsum duo</a></h4>
<ul class="cloth-rating">
<li><i class="fa fa-star" aria-hidden="true"></i></li>
<li><i class="fa fa-star" aria-hidden="true"></i></li>
<li><i class="fa fa-star" aria-hidden="true"></i></li>
<li><i class="fa fa-star" aria-hidden="true"></i></li>
<li><i class="fa fa-star-half-o" aria-hidden="true"></i></li>
</ul>
<span>$90.00<del>$55.00</del></span>
</div>
</div>
</div>
<div class="col-md-12 col-sm-12 col-xs-12">
<div class="product-button">
<a href="#" class="template-button">view all</a>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
<!--//================Best product section end==============//-->
 <!--//================Service section start==============//-->
    <div class="service-section padTB60">
    <div class="container">
    <div class="row">
    <div class="service-section-content">
    <div class="col-md-4 col-sm-4 col-xs-12">
    <div class="free-shipping free-shipping-res">
    <div class="col-md-3 col-sm-3 col-xs-3">
    <figure>
    <img src="assets/images/all-image/shipping-1.jpg" alt="" >
    </figure>
    </div>
    <div class="col-md-9 col-sm-9 col-xs-9">
    <h4><a href="#"> shipping</a></h4>
    <p>the lorem ipsum generators</p>
    </div>
    </div>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-12">
    <div class="free-shipping free-shipping-res">
    <div class="col-md-3 col-sm-3 col-xs-3">
    <figure>
    <img src="assets/images/all-image/shipping-2.jpg" alt="" >
    </figure>
    </div>
    <div class="col-md-9 col-sm-9 col-xs-9">
    <h4><a href="#">customer support</a></h4>
    <p>Only during work hours</p>
    </div>
    </div>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-12">
    <div class="free-shipping">
    <div class="col-md-3 col-sm-3 col-xs-3">
    <figure>
    <img src="assets/images/all-image/shipping-3.jpg" alt="">
    </figure>
    </div>
    <div class="col-md-9 col-sm-9 col-xs-9">
    <h4><a href="#">bonus gifts</a></h4>
    <p>coming soon</p>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
        <!--//================Scroll section start==============//-->
    <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="row">
    <div class="scroll-top">
    <div id="stop" class="scrollTop">
    <span><a href=""><i class="fa fa-angle-double-up" aria-hidden="true"></i></a></span>
    </div>
    </div>
    </div>
    </div>
    <!--//================Scroll section end==============//-->
     <!--//================Footer section start==============//-->
    <div class="footer-section footer_fixed">
    <div class="container">
    <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="footer-box">
    <div class="row">
    <div class="col-md-3 col-sm-6 col-xs-12">
    <div class="footer-box-one footer-first-box">
    <h5>about RG Thriftstore</h5>
    <p><span class="faraway">RG Thriftstore</span> is located 7116 at nw prairie view rd kansas city missouri 64151. It is a family owned business.</p>
    <p><span class="working-time">working hours : monday-saturday, 8:30am-7pm</span></p>
    <p class="marB0"><span class="working-time">sunday 10am-5pm </span></p> 
    </div>
    </div>
    <div class="col-md-2 col-sm-6 col-xs-12">
    <div class="footer-box-two footer-first-box footer-res">
    <h5>information</h5>
    <ul class="footer-services">
    <li><a href="#">about us</a></li>
    <li><a href="#">service</a></li>
    <li><a href="#">blog</a></li>
    <li><a href="#">sellers</a></li>
    </ul>
    </div>
    </div>
    <div class="col-md-2 col-sm-2 col-xs-12">
    <div class="footer-box-two footer-res">
    <h5>store</h5>
    <ul class="footer-services">
    <li><a href="#">accessories</a></li>
    <li><a href="#">new in</a></li>
    <li><a href="#">women</a></li>
    <li><a href="#">top brands</a></li>
    </ul>
    </div>
    </div>
    <div class="col-md-2 col-sm-3 col-xs-12">
    <div class="footer-box-two footer-res">
    <h5>my account</h5>
    <ul class="footer-services">
    <li><a href="#">sign in</a></li>
    <li><a href="#">view cart</a></li>
    <li><a href="#">my wishlist</a></li>
    <li><a href="#">help</a></li>
    </ul>
    </div>
    </div>
    <div class="col-md-3 col-sm-7 col-xs-12">
    <div class="footer-box-right footer-box-two">
    <h5>newsletter</h5>
    <p>Sign up for our mailing list to get the latest updates and offers.</p>
    <div class="input-group">
    <input type="text" class="form-control" placeholder="Enter your email address" aria-describedby="basic-addon2">
    <span class="input-group-addon" id="basic-addon2"><i class="fa fa-paper-plane" aria-hidden="true"></i></span>
    </div>
    <ul class="footer-social-icon">
    <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
    <li><a href="#"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li>
    <li><a href="#"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
    <li><a href="#"><i class="fa fa-skype" aria-hidden="true"></i></a></li>
    <li><a href="#"><i class="fa fa-pinterest-square" aria-hidden="true"></i></a></li>
    <li><a href="#"><i class="fa fa-apple" aria-hidden="true"></i></a></li>
    <li><a href="#"><i class="fa fa-google-plus-square" aria-hidden="true"></i></a></li>
    <li><a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
    <li><a href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
    </ul>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    <div class="container-fluid">
    <div class="row">
    <div class="footer-gallery">
    <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="row">
    <div id="footer_slider" class="owl-carousel owl-theme">
    <div class="item">
    <figure>
    <img src="assets/images/footer/footer-slider-1.jpg" alt="">
    </figure>
    </div>
    <div class="item">
    <figure>
    <img src="assets/images/footer/footer-slider-2.jpg" alt="">
    </figure>
    </div>
    <div class="item">
    <figure>
    <img src="assets/images/footer/footer-slider-3.jpg" alt="">
    </figure>
    </div>
    <div class="item">
    <figure>
    <img src="assets/images/footer/footer-slider-4.jpg" alt="">
    </figure>
    </div>
    <div class="item">
    <figure>
    <img src="assets/images/footer/footer-slider-5.jpg" alt="">
    </figure>
    </div>
    <div class="item">
    <figure>
    <img src="assets/images/footer/footer-slider-6.jpg" alt="">
    </figure>
    </div>
    <div class="item">
    <figure>
    <img src="assets/images/footer/footer-slider-7.jpg" alt="">
    </figure>
    </div>
    <div class="item">
    <figure>
    <img src="assets/images/footer/footer-slider-8.jpg" alt="">
    </figure>
    </div>
    <div class="item">
    <figure>
    <img src="assets/images/footer/footer-slider-9.jpg" alt="">
    </figure>
    </div>
    <div class="item">
    <figure>
    <img src="assets/images/footer/footer-slider-10.jpg" alt="">
    </figure>
    </div>
    </div>
    </div>
    </div>
    <div class="footer-text">
   <!-- <p><a href="#">@ f</a></p> -->
    </div>
    </div>
    </div>
    </div>
    <div class="footer-last-section">
    <div class="container">
    <div class="row">
    <div class="col-md-7 col-sm-8 col-xs-12">
    <div class="footer-last-text">
    <ul class="footer-menu">
    <li><a href="#">about us</a></li>
    <li><a href="#">help & FAQs </a></li>
    <li><a href="#">privacy policy</a></li>
    </ul>
    <p>&copy; 2017 RG ThriftStore.</p>
    </div>
    </div>
    <div class="col-md-5 col-sm-4 col-xs-12">
    <div class="footer-last-right">
    <figure>
    <img src="assets/images/footer/payment-icons.png" alt="">
    </figure>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    <!--//================Footer section end==============//-->