<!DOCTYPE html>
<html>
	<%= render 'shared/head' %>
  <body>
  	<%= render 'shared/header' %>
    <%= yield %>
       <!--//================Js file start==============//-->
        <script src="assets/js/jquery.min.js"></script>
        <script src="assets/js/bootstrap.min.js"></script>
        <script src="assets/plugin/owl-carousel/js/owl.carousel.min.js"></script>
        <script src="assets/plugin/megamenu/js/hover-dropdown-menu.js"></script>
        <script src="assets/plugin/megamenu/js/jquery.hover-dropdown-menu-addon.js"></script>
        <script src="assets/plugin/jquery-ui/js/jquery-ui.js"></script>
        <script src="assets/plugin/mixitup/js/jquery.mixitup.js"></script>
        <script src="assets/plugin/fancyBox/js/jquery.fancybox.pack.js"></script>
        <script src="assets/plugin/fancyBox/js/jquery.fancybox-media.js"></script>
        <script src="assets/plugin/jquery-bxslider/js/jquery.bxslider.min.js"></script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCB9P8720RmV-t4df_U1TxC-JJ_FKVcc6I"></script>
        <script src="assets/js/main.js"></script>
        <!--//================Js file end==============//-->
  </body>
</html>
